@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300italic,600italic,300,600");
	
	
	/*html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {*/
	/*	margin: 0;*/
	/*	padding: 0;*/
	/*	border: 0;*/
	/*	font-size: 100%;*/
	/*	font: inherit;*/
	/*	vertical-align: baseline;*/
	/*}*/

	
	img {
			display: block;
 		    margin: auto;
  		    width: 60%;
  		    padding: 60px;
  		    position: absolute;
    		left: 0px;
   			margin-top: 30px;
    		z-index: -1;
}
	p {
		/*color: #fff;*/
		width: 700px;
		/*font-size: 1.3rem;*/
   	    font-family: "Source Sans Pro", sans-serif;
   	    padding: 62px;
   	    /*margin-top:200px;*/
   	    /*margin-left: 350px;*/
   	    /*border-radius: 50px;*/
   	    /*margin-left: 0px;*/
   	    float: left;
   	    /*position: relative;*/
   	/*     display: inline-block;*/
  		/*vertical-align: middle;*/
  		/*line-height: normal;*/
	}
	

	
	
	h3 {
		color: #fff; 
    	font-weight: 600;
		line-height: 1.5;
		margin: 0 0 1rem 0;
		text-transform: uppercase;
		letter-spacing: 0.04rem;
		font-size: 1.5rem;
    	line-height: 1.4;
   	    letter-spacing: 0.3rem;
   	    font-family: "Source Sans Pro", sans-serif;
   	    /*padding: 62px;*/
   	    margin-top:150px;
   	    /*border-radius: 50px;*/
   	    margin-left: 65px;
   	    float: left;
   	    
	}
	
	